<!-- BEGIN RUBY CODE FOR CHART -->
<% data = { %>
  <%  labels: ["January", "February", "March", "April", "May", "June", "July"],%>
  <% datasets: [  %>
    <%  { %>
        <%  label: "My First dataset",%>
       <%   backgroundColor: "rgba(60, 120, 216, 0.5)",%>
        <%  borderColor: "rgba(220,220,220,1)",%>
        <%  data: [65, 59, 80, 81, 56, 55, 40]%>
    <%  },%>
    <% { %>
        <%  label: "My Second dataset",%>
        <%  backgroundColor: "rgba(30, 215, 96, 0.5)",%>
        <% borderColor: "rgba(151,187,205,1)", %>
        <%  data: [28, 48, 40, 19, 86, 27, 90]%>
    <%  } %>
  <%  ] %>
<% } %>

<% options = { :width => 200, :height => 200, :generateLegend => false } %>
<!-- END RUBY CODE FOR CHART -->

<div class="row row-centered body-text">
  <h1 class="header">Dashboard</h1>

  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="sub_header">What's up, <%= current_user.first_name  %>!</h2>
    <h3>You're currently on a 3 day streak</h3>
    <h3>Your longest streak was 96 days</h3>
    <h3>You've completed <%= @completed.count  %> out of <%= @attempted.count  %> victories</h3>
    <% if @attempted.empty? %>
      <h3>You haven't completed any victories yet!</h3>
    <% else %>
      <h3>You've completed <%= @completion_percentage.round(0) %>% of your victories!</h3>      
    <% end %>

    <h2>You're on the <%= current_user.tracks.first.name  %> track </h2>
    <!-- INCLUDE CHECK FOR WHETHER USER ALREADY COMPLETED THEIR TASK FOR THE DAY -->
    <h3>Ready for today's task?</h3>
      <%= button_to("Yaassss", new_track_task_type_path(@user_tracks.id), :method => :get, :class => "track_select_button") %>
    <!-- USED TO KEEP TRACK OF ALL TASKS ASSOCIATED WITH TRACK -->
    <ul>
    <% @tasks.each do |task| %>
      <li>You've done x <%=  task.name  %> tasks</li>
    <% end %>

    </ul>
    <!-- USED TO KEEP TRACK OF ALL TASK TYPES ASSOCIATED WITH ALL TASKS -->
    <ul>
    <% @task_type_array.each do |task_type| %>
      <li>You've done x <%= task_type.name  %> task types</li>
    <% end %>
    </ul>
  <ul>
  <% @completed.each do |completion| %>
  <li><%= completion.task.name %></li>
  <% end %>
  </ul>
    	<div class="col-md-6 col-centered">
    <%= pie_chart         data, options %>

    	<div id="gauge" class="200x160px"></div>
    	</div>
</div>
  </div> 


<!-- Pie chart could be used to show makeup of tasks completed that week/month/year (pushups vs situps, squats, etc) -->
<!-- Radar chart could be used to show comparison between two data sets, one showing the number of tasks presented for each task and the number actually completed -->
<!-- Line chart could be used to show the number of completions every week/month/year



