<div class="row row-centered body-text">
  <h1 class="dashboard_header">Dashboard</h1>

  <div class="col-sm-6 col-sm-offset-3 card-block dashboard_recap animated fadeInLeft">
  <% flash.each do |key, value| %>
        <div class="alert alert-warning alert-dismissible task_completed"><%= value %>        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button></div>

      <% end %>
    <h2 class="sub_header">What's up, <%= current_user.first_name  %>!</h2>
    <h3>You're currently on a <%= current_user.streak(:user_completions)  %> day streak</h3>
    <!-- <h3>Your longest streak was 96 days</h3> -->
    <h3>You've completed <%= @completed.count  %> out of <%= @attempted.count  %> victories</h3>
    <% if @attempted.empty? %>
      <h3>You haven't completed any victories yet!</h3>
    <% else %>
      <h3>You've completed <%= @completion_percentage.round(0) %>% of your victories!</h3>      
    <% end %>

    <h2>You're on the <%= current_user.tracks.first.name  %> track </h2>
    <!-- INCLUDE CHECK FOR WHETHER USER ALREADY COMPLETED THEIR TASK FOR THE DAY -->
    <h3>Ready for today's task?</h3>
      <%= button_to("Let's Go!", new_track_task_type_path(@user_tracks.id), :method => :get, :class => "dashboard_start_task_button") %>
  </div>
  <div class="col-sm-6 col-sm-offset-3 completion_charts chart_1_fade card-block animated fadeInLeft">
    <h2 class="chart_breakdown">Here's the breakdown of tasks you've gotten so far</h2>
      <div class="col-sm-10 col-centered">
    <div class="col-sm-11 col-sm-offset-1 chart_range_button_set ">
      <button id="update_pie" class="update_chart_range">This Week</button>
      <button id="update_pie" class="update_chart_range">This Month</button>
      <button id="update_pie" class="update_chart_range">This Year</button>
    </div>
    <div class="col-sm-12">
      <canvas id="js_doughnut_chart" width="200" height="200"></canvas>
    </div>
      </div>
  </div>
  <div class="col-sm-6 col-sm-offset-3 completion_charts chart_2_fade card-block animated fadeInLeft">
    <h2 class="chart_breakdown">Here's how many tasks we've given you <br>compared to how many you've completed</h2>
        <div class="col-sm-10 col-centered">
    <div class="col-sm-11 col-sm-offset-1 chart_range_button_set">
      <button id="update_pie" class="update_chart_range">This Week</button>
      <button id="update_pie" class="update_chart_range">This Month</button>
      <button id="update_pie" class="update_chart_range">This Year</button>
    </div>
      <canvas id="js_radar_chart" width="200" height="200"></canvas>
    </div>
  </div>

  <div class="col-sm-6 col-sm-offset-3 completion_charts chart_3_fade card-block animated fadeInLeft">
    <h2 class="chart_breakdown">Here's how your victories have added up</h2>
          <div class="col-sm-10 col-centered">
    <div class="col-sm-11 col-sm-offset-1 chart_range_button_set">
      <button id="update_pie" class="update_chart_range">This Week</button>
      <button id="update_pie" class="update_chart_range">This Month</button>
      <button id="update_pie" class="update_chart_range">This Year</button>
    </div>
      <canvas id="js_bar_chart" width="200" height="200"></canvas>
    </div>
  </div>
    <button id="update_radar">Update Radar</button>
    <button id="update_line">Update Line</button>

  	</div>
  <!-- </div>  -->

<script>
  $(document).ready(function(){

    Chart.scaleService.updateScaleDefaults('linear', {
    ticks: {
        stepSize: 1,
        beginAtZero: true,
        max: 10
    }
})

// START OF DRAWING DOUGHNUT CHART
    var pie_chart_target = $( "#js_doughnut_chart" );
    var start_date = moment().subtract(30, 'days').format();
    var request = $.get("/api/doughnut_chart_data/" + start_date,
      function(data) {
        // console.log(data)
        var labels_array = []
        var data_array = []
        Object.keys(data).forEach(function(label){
          labels_array.push(label);
          data_array.push(data[label]);
        })
        var chartData = {
              labels: labels_array,
              data: data_array
              };
              // console.log(chartData)
       new Chart(pie_chart_target, {
        type: 'doughnut',
        data: {
          labels: labels_array, 
          datasets: [{
            label: "Test",
            data: data_array,
            backgroundColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(38, 166, 154, 0.7)"
                ]
            // borderColor: [
            //     "#FF6384"
            //     ],
            //     borderWidth: 5
          }]
        },
        options: {
          scales: {
          }
        }
       })
     })
// END OF DRAWING DOUGHNUT CHART

// START OF DRAWING RADAR CHART
    var radar_chart_target = $('#js_radar_chart');
    var start_date = moment().subtract(30, 'days').format();
    var request = $.get("/api/radar_chart_data/" + start_date,
      function(data) {
        console.log(data[0])
        var attempted_labels_array = []
        var attempted_data_array = []
        var completed_labels_array = []
        var completed_data_array = []
        Object.keys(data[0]).forEach(function(label){
          attempted_labels_array.push(label);
          attempted_data_array.push(data[0][label]);
        })
        Object.keys(data[1]).forEach(function(label){
          completed_labels_array.push(label);
          completed_data_array.push(data[1][label]);
        })
        var chartData = {
          labels: attempted_labels_array,
          data: attempted_data_array
              };
              // console.log(chartData)

        var radarOptions = {
          scale: {
            ticks: {
              beginAtZero: true,
              stepSize: 1
            }
          }
        }
       new Chart(radar_chart_target, {
        type: 'radar',
        data: {
          labels: attempted_labels_array, 
          datasets: [
            {
              label: "Attempted",
              data: completed_data_array,
              scaleSteps: 1,
              beginAtZero: true,
              backgroundColor: 
                "rgba(38, 166, 154, 0.7" 
            },
            {
              label: "Completed",
              data: attempted_data_array,
              scaleSteps: 1,
              beginAtZero: true,
              backgroundColor:
                "rgba(255, 206, 86, 0.7)"
            }
          ]
        },
        options: radarOptions
       })
     })
// END OF DRAWING RADAR CHART

// START OF DRAWING BAR CHART
    var line_chart_target = $('#js_bar_chart');
    var start_date = moment().subtract(30, 'days').format();
    var request = $.get("/api/line_chart_data/" + start_date,
      function(data) {
        // console.log(data)
        var labels_array = []
        var data_array = []
        Object.keys(data).forEach(function(label){
          labels_array.push(label);
          data_array.push(data[label]);
        })
        var chartData = {
          labels: labels_array,
          data: data_array              
              };
       // console.log(chartData)
       new Chart(line_chart_target, {
        type: 'bar',
        data: {
          labels: labels_array, 
          datasets: [{
            label: "Test",
            data: data_array,
            backgroundColor: [
                "rgba(255, 99, 132, 0.7)",
                "rgba(54, 162, 235, 0.7)",
                "rgba(255, 206, 86, 0.7)",
                "rgba(38, 166, 154, 0.7)"
                ]
            // borderColor: [
            //     "#FF6384"
            //     ],
            //     borderWidth: 5
          }]
        },
        options: {
          scales: {
            ticks: {
              // beginAtZero: true
            }
          }
        }
       })
     })// END OF DRAWING BAR CHART

    // $('#update_pie').on('click', function(){
    //   $('#pie_chart').empty();
    //   update_pie_chart();
    // });
    // $('#update_radar').on('click', function(){
    //   $('#radar_chart').empty();
    //   update_radar_chart();
    // });
    // $('#update_line').on('click', function(){
    //   $('#line_chart').empty();
    //   update_line_chart();
    // })
  });




// var canvas = document.getElementById('updating-chart'),
//     ctx = canvas.getContext('2d'),
//     startingData = {
//       labels: [1, 2, 3, 4, 5, 6, 7],
//       datasets: [
//           {
//               fillColor: "rgba(220,220,220,0.2)",
//               strokeColor: "rgba(220,220,220,1)",
//               pointColor: "rgba(220,220,220,1)",
//               pointStrokeColor: "#fff",
//               data: [65, 59, 80, 81, 56, 55, 40]
//           },
//           {
//               fillColor: "rgba(151,187,205,0.2)",
//               strokeColor: "rgba(151,187,205,1)",
//               pointColor: "rgba(151,187,205,1)",
//               pointStrokeColor: "#fff",
//               data: [28, 48, 40, 19, 86, 27, 90]
//           }
//       ]
//     };

// setInterval(function(){
//   // Get a random index point
//   var indexToUpdate = Math.round(Math.random() * startingData.labels.length);
  
//   // Update one of the points in the second dataset
//   myLiveChart.datasets[1].points[indexToUpdate].value = Math.random() * 100;
  
//   myLiveChart.update();
// }, 5000);





  // var update_pie_chart = function() {
  //   var pie_chart_target = $( "#pie_chart" );
  //   var start_date = moment().subtract(30, 'days').format();
  //   var request = $.get("/api/doughnut_chart_data/" + start_date,
  //     function(data) {
  //       console.log(data)
  //       var labels_array = []
  //       var data_array = []
  //       Object.keys(data).forEach(function(label){
  //         labels_array.push(label);
  //         data_array.push(data[label]);
  //       })
  //       var chartData = {
  //             labels: labels_array,
  //             datasets: [
  //                 {
  //                     data: data_array,
  //                     backgroundColor: [
  //                         "#FF6384",
  //                         "#36A2EB",
  //                         "#FFCE56",
  //                         "rgba(38, 166, 154, 0.7)"
  //                     ],
  //                     hoverBackgroundColor: [
  //                         "#FF6384",
  //                         "#36A2EB",
  //                         "#FFCE56",
  //                         "rgba(38, 166, 154, 0.7)"
  //                     ]
  //                 }]
  //             };
  //             console.log(chartData)
  //     var myDoughnutChart = new Chart(pie_chart_target, {
  //         type: 'doughnut',
  //         data: chartData,
  //         options: {
  //           width: 200, 
  //           height: 200,
  //           generateLegend: false
  //         }
  //       })
  //    })
  //  };

  // var update_radar_chart = function() {
  //   var radar_chart_target = $('#radar_chart');
  //   var start_date = moment().subtract(30, 'days').format();
  //   var request = $.get("/api/radar_chart_data/" + start_date,
  //     function(data) {
  //       console.log(data)
  //       var labels_array = []
  //       var data_array = []
  //       Object.keys(data).forEach(function(label){
  //         labels_array.push(label);
  //         data_array.push(data[label]);
  //       })
  //       var chartData = {
  //         labels: labels_array,
  //             datasets: [
  //                 {
  //                     data: data_array,
  //                     backgroundColor: [
  //                         "#FF6384"
  //                         // "#36A2EB",
  //                         // "#FFCE56",
  //                         // "rgba(38, 166, 154, 0.7)"
  //                     ],
  //                     hoverBackgroundColor: [
  //                         "#FF6384"
  //                         // "#36A2EB",
  //                         // "#FFCE56",
  //                         // "rgba(38, 166, 154, 0.7)"
  //                     ]
  //                 }]
  //             };
  //             console.log(chartData)
  //       var myRadarChart = new Chart(radar_chart_target, {
  //         type: 'radar',
  //         data: chartData,
  //         options: {
  //           width: 200,
  //           height: 200,
  //           generateLegend: false
  //         }
  //       }) 
  //     })
  // };

  // var update_line_chart = function() {
  //   var line_chart_target = $('#line_chart');
  //   var start_date = moment().subtract(30, 'days').format();
  //   var request = $.get("/api/line_chart_data/" + start_date,
  //     function(data) {
  //       console.log(data)
  //       var labels_array = []
  //       var data_array = []
  //       Object.keys(data).forEach(function(label){
  //         labels_array.push(label);
  //         data_array.push(data[label]);
  //       })
  //       var chartData = {
  //         labels: labels_array,
  //             datasets: [
  //                 {
  //                     data: data_array,
  //                     backgroundColor: [
  //                         "#FF6384",
  //                         "#36A2EB",
  //                         "#FFCE56",
  //                         "rgba(38, 166, 154, 0.7)"
  //                     ],
  //                     hoverBackgroundColor: [
  //                         "#FF6384",
  //                         "#36A2EB",
  //                         "#FFCE56",
  //                         "rgba(38, 166, 154, 0.7)"
  //                     ]
  //                 }]
  //             };
  //             console.log(chartData)
  //       var myLineChart = new Chart(line_chart_target, {
  //         type: 'line',
  //         data: chartData,
  //         options: {
  //           width: 200, 
  //           height: 200,
  //           generateLegend: false
  //         }
  //       })
  //     })
  // };
    
</script>

<!-- Pie chart could be used to show makeup of tasks completed that week/month/year (pushups vs situps, squats, etc) -->
<!-- Radar chart could be used to show comparison between two data sets, one showing the number of tasks presented for each task and the number actually completed -->
<!-- Line chart could be used to show the number of completions every week/month/year



