<!-- BEGIN RUBY CODE FOR CHART -->
<% pie_data = { %>
  <%  labels: @task_array,%>
  <% datasets: [  %>
    <%  { %>
        <%  label: "My First dataset",%>
       <%   backgroundColor: [ %>
              <% "rgba(60, 120, 216, 0.7)",%>
              <% "rgba(38, 166, 154, 0.7)",%>
              <% "rgba(255, 99, 132, 0.7)",%>
              <% "rgba(255, 206, 86, 0.7)"%>
              <% ], %>
        <%  borderColor: "rgba(220,220,220,1)",%>
        <%  data: [15, 59, 80, 81]%>
    <%  }%>
  <%  ] %>
<% } %>

<% radar_data = { %>
  <%  labels: @task_array,%>
  <% datasets: [  %>
    <%  { %>
        <%  label: "My First dataset",%>
       <%   backgroundColor: "rgba(38, 166, 154, 0.7)",%>
        <%  borderColor: "rgba(220,220,220,1)",%>
        <%  data: [20, 50, 40, 70]%>
    <%  },%>
    <%  { %>
        <%  label: "My First dataset",%>
       <%   backgroundColor: "rgba(255, 206, 86, 0.7)",%>
        <%  borderColor: "rgba(220,220,220,1)",%>
        <%  data: [65, 59, 80, 81]%>
    <%  }%>
  <%  ] %>
<% } %>

<% bar_data = { %>
  <%  labels: @task_type_labels,%>
  <% datasets: [  %>
    <%  { %>
        <%  label: "My First dataset",%>
       <%   backgroundColor: [ %>
              <% "rgba(60, 120, 216, 0.7)",%>
              <% "rgba(38, 166, 154, 0.7)",%>
              <% "rgba(255, 99, 132, 0.7)",%>
              <% "rgba(255, 206, 86, 0.7)"%>
              <% ], %>
        <%  borderColor: "rgba(220,220,220,1)",%>
        <%  data: [65, 59, 80, 81]%>
    <%  }%>
  <%  ] %>
<% } %>


<% options = { :width => 200, :height => 200, :generateLegend => false } %>

<!-- END RUBY CODE FOR CHART -->

<div class="row row-centered body-text">
  <h1 class="dashboard_header">Dashboard</h1>

  <div class="col-sm-6 col-sm-offset-3 card-block dashboard_recap">
  <% flash.each do |key, value| %>
        <div class="alert alert-warning alert-dismissible task_completed"><%= value %>        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button></div>

      <% end %>
    <h2 class="sub_header">What's up, <%= current_user.first_name  %>!</h2>
    <h3>You're currently on a <%= current_user.streak(:user_completions)  %> day streak</h3>
    <h3>Your longest streak was 96 days</h3>
    <h3>You've completed <%= @completed.count  %> out of <%= @attempted.count  %> victories</h3>
    <% if @attempted.empty? %>
      <h3>You haven't completed any victories yet!</h3>
    <% else %>
      <h3>You've completed <%= @completion_percentage.round(0) %>% of your victories!</h3>      
    <% end %>

    <h2>You're on the <%= current_user.tracks.first.name  %> track </h2>
    <!-- INCLUDE CHECK FOR WHETHER USER ALREADY COMPLETED THEIR TASK FOR THE DAY -->
    <h3>Ready for today's task?</h3>
      <%= button_to("Let's Go!", new_track_task_type_path(@user_tracks.id), :method => :get, :class => "dashboard_start_task_button") %>
    <!-- USED TO KEEP TRACK OF ALL TASKS ASSOCIATED WITH TRACK -->
    <ul>
    <% @tasks.each do |task| %>
      <li>You've done x <%=  task.name  %> tasks</li>
    <% end %>

    </ul>

  <!-- USED TO COUNT COMPLETION IN TASK CATEGORIES -->
  <ul>
  <% @completed.each do |completion| %>
  <li><%= completion.task_type.name %></li>
  <% end %>
  </ul>
  <!-- USED TO COUNT TASK TYPES BY COMPLETION -->
  <ul>
  <% @completed.each do |completion| %>
  <li><%= completion.task.name %></li>
  <% end %>
  </ul>
</div>
  	<div class="col-sm-6 col-sm-offset-3 completion_charts card-block">
      <div class="col-md-8 col-centered">
    <%= pie_chart         pie_data, options %>
    <%= radar_chart         radar_data, options %>
    <%= bar_chart         bar_data, options %>
      </div>
  	</div>
  </div> 


<!-- Pie chart could be used to show makeup of tasks completed that week/month/year (pushups vs situps, squats, etc) -->
<!-- Radar chart could be used to show comparison between two data sets, one showing the number of tasks presented for each task and the number actually completed -->
<!-- Line chart could be used to show the number of completions every week/month/year



