<div style="padding-top: 150px"></div>
<div class="row row-centered body-text" id="fade_on_click">

		<div class=""><%= image_tag('bouncey.svg', size: "200x100", :class => "victor animated fadeInDown", :id => "fade_on_click")  %></div>

		<div class="small_victory_text"><%= image_tag('small_victory_text.svg', size: "400x100", :class => "animated fadeInDown", :id => "small_victory_text") %></div>
			<h3 class="app_description animated fadeInDown">Do one 5 minute task that <br>
			makes you <span class="underline">better.</span></h3>
				<div class="login_signup">
			<% if user_signed_in? %>
				<h3>How's it going, <%= current_user.name %>?</h3>
			<% else %>
				<h3 class="animated fadeInDown"><span class="underline"><%= link_to("Log in", new_user_session_path, :id => "log_in") %></span> | <span class="underline"><%= link_to("Sign up", new_user_registration_path, :id => "sign_up") %></span></h3>
				</div>
			<% end %>
</div>







