<div class="row row-centered body-text">
	<div class="animated bounce"><%= image_tag('bouncey.svg', size: "150x80")  %></div>
	<h2>Hey, <%= current_user.first_name %>! I'm Victor. Let's get started.</h2><br>
	<%= form_for @profile do |f| %>
	<div class="col-sm-3 track col-centered">
	      <div class="card-block text-center">
	        <h2 class="card-title">What days do you <br> want to take off?</h2>
	        <p class="card-text">
	        	<div class="btn-group" data-toggle="buttons" >
					<label class="btn btn-primary" >
						<%= f.label :monday  %>
						<%= f.check_box :monday, :style => 'visibility: hidden' %>
					</label> <br>
					<label class="btn btn-primary">
						<%= f.label :tuesday  %>
						<%= f.check_box :tuesday  %>
					</label> <br>
					<label class="btn btn-primary">
						<%= f.label :wednesday  %>
						<%= f.check_box :wednesday  %>
					</label> <br>
					<label class="btn btn-primary">
						<%= f.label :thursday  %>
						<%= f.check_box :thursday  %>
					</label> <br>
					<label class="btn btn-primary">
						<%= f.label :friday  %>
						<%= f.check_box :friday  %>
					</label> <br>
					<label class="btn btn-primary">
						<%= f.label :saturday  %>
						<%= f.check_box :saturday  %>
					</label> <br>
					<label class="btn btn-primary">
						<%= f.label :sunday  %>
						<%= f.check_box :sunday  %>
					</label>
	        	</div></p>
	      </div>
	</div>
	<div class="col-sm-3 track col-centered">
	      <div class="card-block text-center">
	        <h2 class="card-title">What time do you <br> usually wake up?</h2>
	        <span class="body-text text-center card-text">
	        	<%= f.text_field :wake_up_time, id: "wakeup_time_select" %>
	        </span>
<!-- 	        <p class="card-text"> <input value="12:00" type="text" class="wakeup_time_select body-text text-center" /></p> -->
		</div>
	</div>
	     <div class="col-sm-3 track col-centered">
	      <div class="card-block text-center">
	        <h2 class="card-title">What do you want <br> to get better at?</h2>
	        <p class="card-text">
	        	<div class="btn-group" data-toggle="buttons">
		        	<% @tags.each do |tag| %>
		        		<label class="btn btn-primary">
		        		</label><br>
		        	<% end %>
	        	</div>
	        </p>
		</div>
	</div>
<br>
<div class="row col-sm-10 col-centered">
	<!-- <button class="btn btn-default btn-block"> -->
	<%= f.submit 'Continue', :class => 'btn btn-default btn-block'  %>
	<!-- </button> -->
</div>
</div>
<% end %>

<script href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.js"></script>
<!-- <script type="text/javascript">
	$("[data-toggle='buttons'] .btn").each(function(i, el) {
  var $button = $(el);
  var checked = $button.find("input[type='checkbox']").prop("checked");
  if (checked) {
    $button.addClass("active");
  } else {
    $button.removeClass("active");
  }
});
</script> -->