<div class="row row-centered body-text animated fadeInDown" id="fade_right">
<h1 class="header">Log in</h1>
<!--   <div class="col-sm-6">
  <a href="/auth/facebook" class="btn btn-primary fb_button" rel="nofollow">
  Login with Facebook
  </a>
  </div>
<i class="fa fa-facebook-square" aria-hidden="true"></i>
 -->
  <div class="col-sm-4 col-sm-offset-4">
    <div class="row social_buttons">
      <div class="col-sm-6">
      <%= button_to "Login with Facebook", user_facebook_omniauth_authorize_path, :class => "btn btn-primary fb_button" %>
      </div>
      <div class="col-sm-6">
      <%= button_to "Login with Twitter", user_twitter_omniauth_authorize_path, :class => "btn btn-primary twtr_button" %>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-sm-offset-4 or_span_padding">
    <%= form_for(resource, as: resource_name, html:{ :class => "sign_up_form", :id => "log_in_form" }, url: session_path(resource_name)) do |f| %>
      <div class="field sign_up_form">
        <%= f.label :email, :class => "signup_text" %><br />
        <%= f.email_field :email, :class => "sign_up", autofocus: true %>
      </div>

      <div class="field sign_up_form">
        <%= f.label :password, :class => "signup_text" %><br />
        <%= f.password_field :password, :class => "sign_up", autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field sign_up_form">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", :class => "button", :id => "login_user" %>
      </div>
    <% end %>

    <div class="divider"></div>
  <div class="row">
    <div class="login_button_padding">
      <div class="col-sm-6">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <h2 class="sub_header">Not a user yet?</h2>
      <%= button_to "Sign up", new_registration_path(resource_name), :class => "button", :id => "not_user_yet", :method => :get %>
    <% end -%>
      </div>
      <div class="col-sm-6 ">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <h2 class="sub_header">Forgot your password?</h2>
      <%= button_to "Reset password", new_password_path(resource_name), :class => "button", :method => :get %>
    <% end -%>
      </div>
    </div>
  </div>
  </div>
</div>