<div class="row row-centered body-text">
<h2>Log in</h2>

  <div class="col-sm-4 col-sm-offset-4">
    <div class="row social_buttons">
      <%= link_to image_tag('facebook_login_unpressed.png', :class => "facebook_button"), user_facebook_omniauth_authorize_path %> 
      <%= link_to image_tag('twitter_login_unpressed.png', :class => "twitter_button"), user_twitter_omniauth_authorize_path %>
    </div>
  </div>

  <div class="col-sm-4 col-sm-offset-4">
    <%= form_for(resource, as: resource_name, html:{ :class => "sign_up_form" }, url: session_path(resource_name)) do |f| %>
      <div class="field sign_up_form">
        <%= f.label :email, :class => "signup_text" %><br />
        <%= f.email_field :email, :class => "sign_up", autofocus: true %>
      </div>

      <div class="field sign_up_form">
        <%= f.label :password, :class => "signup_text" %><br />
        <%= f.password_field :password, :class => "sign_up", autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field sign_up_form">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>