<div class="row row-centered body-text">

		<div class="animated bounce"><%= image_tag('bouncey.svg', size: "150x80")  %></div>
	<div class="col-sm-6 col-sm-offset-3">
		<h2 class="profile_greeting">Hey, <%= current_user.first_name %>! I'm Victor. Let's get started.</h2>
		<%= form_for @profile, :html => {:id => "profile_form"} do |f| %>
		<div class="col-sm-12 track col-centered step_1">
		      <div class="card-block text-center">
		        <h2 class="card-title profile_setup_header">What days do you <br> want to get a task?</h2>
		        <p class="card-text">
					<div class="select_profile_attributes" data-toggle="buttons">

						<label class="btn btn-primary profile_setup_button" >
							<label class="setup_button_text">Monday</label>
							<input type="checkbox" value="1" name="profile[monday]" id="profile_monday">
						</label> <br>
						<label class="btn btn-primary profile_setup_button">
							<label class="setup_button_text">Tuesday</label>
							<input type="checkbox" value="1" name="profile[tuesday]" id="profile_tuesday">
						</label> <br>
						<label class="btn btn-primary profile_setup_button">
							<label class="setup_button_text">Wednesday</label>
							<input type="checkbox" value="1" name="profile[wednesday]" id="profile_wednesday">
						</label> <br>
						<label class="btn btn-primary profile_setup_button">
							<label class="setup_button_text">Thursday</label>
							<input type="checkbox" value="1" name="profile[thursday]" id="profile_thursday">
						</label> <br>
						<label class="btn btn-primary profile_setup_button">
							<label class="setup_button_text">Friday</label>
							<input type="checkbox" value="1" name="profile[friday]" id="profile_friday">
						</label> <br>
						<label class="btn btn-primary profile_setup_button">
							<label class="setup_button_text">Saturday</label>
							<input type="checkbox" value="1" name="profile[saturday]" id="profile_saturday">
						</label> <br>
						<label class="btn btn-primary profile_setup_button">
							<label class="setup_button_text">Sunday</label>
							<input type="checkbox" value="1" name="profile[sunday]" id="profile_sunday">
						</label>
					</div>
						<button class="profile_setup_continue_button next_step_1">Next</button>
		        	</p>
		      </div>
		</div>
		<div class="col-sm-12 track col-centered step_2">
		      <div class="card-block text-center">
		        <h2 class="card-title profile_setup_header">What time do you <br> usually wake up?</h2>
		        <div class="body-text text-center card-text wakeup_time_box">
		        	<%= f.text_field :wake_up_time, id: "" %>
		        </div>
				<button class="profile_setup_continue_button next_step_2">Next</button>

			</div>
		</div>
		     <div class="col-sm-12 track col-centered step_3">
		      <div class="card-block text-center">
		        <h2 class="card-title profile_setup_header">What do you want <br> to get better at?</h2>
		        <p class="card-text">
		        	<div class="btn-group" data-toggle="buttons">
			        	<% @tags.each do |tag| %>
			        		<label class="btn btn-primary profile_setup_button">
			        		<label class="setup_button_text"><%= tag.name  %></label>
			        		<input type="checkbox" name="tags[<%= tag.id %>]" >
			        		</label><br>
			        	<% end %>
		        	</div>
		        </p>
		<%= f.submit 'Continue', :class => 'profile_setup_continue_button'  %>
			</div>
		</div>
	<br>
	<div class="row col-sm-12 col-centered">
		
		
	</div>
	</div>
</div>
<% end %>
<!-- 
<script href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.js"></script> -->
<!-- TO BE USED IN DIV CLASS WITH DATA TOGGLE BUTTONS btn-group -->

        <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker1" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
 
        <script type="text/javascript">
            $('#timepicker1').timepicker();
        </script>
