<!DOCTYPE html>
<html>
  <head>
    <title>SmallVictory - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- JAVASCRIPT AND CSS BELOW USED FOR TIME SELECTOR ON USER SIGN UP -->
    <%= stylesheet_link_tag 'jquery.timepicker.min.css' %>
    <%= javascript_include_tag 'moment.min.js'  %>
    <%= javascript_include_tag 'jquery.mousewheel.min.js'  %>
    <%= javascript_include_tag 'jquery.timepicker.min.js'  %>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

  </head>

  <body>
<div class="container-fluid">
<!-- NAV BAR -->
	<div class="row top">
    <!-- NAV BAR LEFT -->
		<div class="left">
			<span class="navbar_logo"><%= link_to image_tag('small_victory_navbar_logo.png', size: "200x30"), root_path %></span>
		</div>
    <!-- NAV BAR RIGHT -->
		<div class="right">
			<% if user_signed_in? %>
				<span class="top">
       <img src="<%= current_user.profile_pic %>" class="img-circle" width="35px" height="35px">
          <%= link_to(current_user.first_name , edit_user_registration_path) %>
          <%= link_to("Edit Profile" , '/profiles/edit') %>
          
            <%= image_tag('down_arrow.svg', size: "20x20")%>
          </span>
          

			<% else %>
				<%= link_to("Log in", new_user_session_path)  %> | 
				<%= link_to("Sign up", '/profiles/update')  %>
			<% end %>
      <!-- NAV BAR RIGHT END -->
		</div>
    <!-- NAV BAR END -->
	</div>

      <%= yield %>
      <!-- CONTAINER END -->
    </div>
  </body>
</html>
