<!DOCTYPE html>
<html>
  <head>
    <title>SmallVictory <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
  <nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
<!-- NAV BAR -->
	<div class="row top">
    <!-- NAV BAR LEFT -->
		<div class="left">
			<span class="navbar_logo"><%= link_to image_tag('small_victory_navbar_logo.png', size: "200x30"), root_path %></span>
		</div>
    <!-- NAV BAR RIGHT -->
		<div class="right">
			<% if user_signed_in? %>
				<span class="top">
      <% if current_user.profile_pic? %>
       <img src="<%= current_user.profile_pic %>" class="img-circle" width="35px" height="35px">
       <% end %>
          <%= link_to(current_user.first_name , edit_user_registration_path) %>
          </span>
          

			<% else %>
				<%= link_to("Log in", new_user_session_path)  %> | 
				<%= link_to("Sign up", new_user_registration_path)  %>
			<% end %>
      <!-- NAV BAR RIGHT END -->
		</div>
    <!-- NAV BAR END -->
  </div>
    </nav>



      <%= yield %>
      <!-- CONTAINER END -->
      <div class="bottom_padding"></div>
    </div>
  </body>
</html>
